* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

nav button{
  border: none;
  background-color: none;
  background-color: unset;
}


.nav-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

#book-list {
  border: 2px solid black;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
}